In [1]:
import pandas as pd
import numpy as np

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon
pokemon = pd.read_csv('dataset_final.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
n_pkmn = pokemon["Name"].count()
print(f"Hay {n_pkmn} pokémon en el dataset")

Hay 800 pokémon en el dataset

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
n_poison = pokemon[pokemon["Type 1"] == "Poison"]
print(f"Hay {len(n_poison)} pokémon tipo 1 Veneno")

Hay 28 pokémon tipo 1 Veneno

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
n_type = pokemon["Type 1"].unique()
print(f"Hay {len(n_type)} tipos de pokémon diferentes:")
for element in n_type:
	print(f"* {element}")

Hay 18 tipos de pokémon diferentes:
* Grass
* Fire
* Water
* Bug
* Normal
* Poison
* Electric
* Ground
* Fairy
* Fighting
* Psychic
* Rock
* Ghost
* Ice
* Dragon
* Dark
* Steel
* Flying

In [6]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
max_type = n_type[0]
for type in n_type:
	n_of_type = pokemon[pokemon["Type 1"] == type]
	if (len(n_of_type)) > len(pokemon[pokemon["Type 1"] == max_type]):
		max_type = type
	print(f"Hay {len(n_of_type)} pokémon de tipo '{type}'")
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
len_max_type = len(pokemon[pokemon["Type 1"] == max_type])
print(f"El tipo (tipo 1) con más pokémon es '{max_type}' con {len_max_type} pokémons")

Hay 70 pokémon de tipo 'Grass'
Hay 52 pokémon de tipo 'Fire'
Hay 112 pokémon de tipo 'Water'
Hay 69 pokémon de tipo 'Bug'
Hay 98 pokémon de tipo 'Normal'
Hay 28 pokémon de tipo 'Poison'
Hay 44 pokémon de tipo 'Electric'
Hay 32 pokémon de tipo 'Ground'
Hay 17 pokémon de tipo 'Fairy'
Hay 27 pokémon de tipo 'Fighting'
Hay 57 pokémon de tipo 'Psychic'
Hay 44 pokémon de tipo 'Rock'
Hay 32 pokémon de tipo 'Ghost'
Hay 24 pokémon de tipo 'Ice'
Hay 32 pokémon de tipo 'Dragon'
Hay 31 pokémon de tipo 'Dark'
Hay 27 pokémon de tipo 'Steel'
Hay 4 pokémon de tipo 'Flying'
El tipo (tipo 1) con más pokémon es 'Water' con 112 pokémons

In [7]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
sort_speed = pokemon.sort_values("Speed", ascending=False)
fastest_name = sort_speed['Name'].values[0]
fastest_speed = sort_speed['Speed'].values[0]
print(f"El pokémon más rápido es {fastest_name} con {fastest_speed} puntos de Velocidad")

El pokémon más rápido es DeoxysSpeed Forme con 180 puntos de Velocidad

In [8]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
defense_condition = pokemon["Defense"] > 100
defense_pkmn =  pokemon[defense_condition]
print(f"{len(defense_pkmn)} pokémon tienen más de 100 puntos de defensa")
'''
4.1 ¿Cuántos pokemon tiene una velocidad superior a 100?
'''
fast_condition = pokemon["Speed"] > 100
speed_pkmn =  pokemon[fast_condition]
print(f"{len(speed_pkmn)} pokémon tienen más de 100 puntos de velocidad")

123 pokémon tienen más de 100 puntos de defensa
106 pokémon tienen más de 100 puntos de velocidad

In [9]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
defense_speed = pokemon[defense_condition & fast_condition]
print(f"{len(defense_speed)} pokémon tienen una defensa y velocidad de más de 100")

9 pokémon tienen una defensa y velocidad de más de 100

In [10]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
order_types = pokemon.sort_values(by=['Type 1', 'Type 2'])
order_types

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [11]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
water_condition = pokemon["Type 1"] == "Water"
fire_condition = pokemon["Type 1"] == "Fire"
water_fire = pokemon[water_condition | fire_condition]
water_fire

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [12]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendary_condition = pokemon["Legendary"] == True
legendary_pkmn = pokemon[legendary_condition]
legendary_pkmn

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
no_legendary_condition = pokemon["Legendary"] == False
no_legendary_pkmn = pokemon[no_legendary_condition]

dict_legendary = dict()
dict_no_legendary = dict()

means_legendaray = legendary_pkmn.describe().loc[["mean"]]
print("Pokémons legendarios:")
for i in means_legendaray:
	if (i != "#" and i != "Total" and i != "Generation"):
		dict_legendary[i] = round(means_legendaray[i][0], 2)
		print(f"    * La media de {i} es: {round(means_legendaray[i][0], 2)}")

means_no_legendaray = no_legendary_pkmn.describe().loc[["mean"]]
print("Pokémons no legendarios:")
for i in means_no_legendaray:
	if (i != "#" and i != "Total" and i != "Generation"):
		dict_no_legendary[i] = round(means_no_legendaray[i][0], 2)
		print(f"    * La media de {i} es: {round(means_no_legendaray[i][0], 2)}")

Pokémons legendarios:
    * La media de HP es: 92.74
    * La media de Attack es: 116.68
    * La media de Defense es: 99.66
    * La media de Sp. Atk es: 122.18
    * La media de Sp. Def es: 105.94
    * La media de Speed es: 100.18
Pokémons no legendarios:
    * La media de HP es: 67.18
    * La media de Attack es: 75.67
    * La media de Defense es: 71.56
    * La media de Sp. Atk es: 68.45
    * La media de Sp. Def es: 68.89
    * La media de Speed es: 65.46

In [14]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
legendary_list = [dict_legendary, dict_no_legendary]
df_legendary = pd.DataFrame(legendary_list, index=["Legendary", "No Legendary"])
df_legendary

                 HP  Attack  Defense  Sp. Atk  Sp. Def   Speed
Legendary     92.74  116.68    99.66   122.18   105.94  100.18
No Legendary  67.18   75.67    71.56    68.45    68.89   65.46

In [15]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemon tiene dos tipos o no
'''
list_double_type = list()
for index, row in pokemon.iterrows():
	if (row["Type 1"]is not np.nan and row["Type 2"] is not np.nan):
		list_double_type.append(True)
	else:
		list_double_type.append(False)
pokemon['Doble tipo'] = list_double_type
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [16]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
type_1 = pokemon["Doble tipo"] == True
two_types = pokemon[type_1].sort_values(by=['Type 1', 'Type 2', 'Name'])
two_types =two_types[['Name', 'Type 1', 'Type 2']]
two_types

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [17]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

#Propio: Función que devuelve un diccionario con los articulos comprado y el precio total de cada uno (precio * cantidad)
def	total_comprado(articulos, compra): 
	comprado = dict()
	for item in compra:
		if item not in comprado:
			comprado[item] = articulos[item]
		else:
			comprado[item] += articulos[item]
	return comprado

# A. Una función que calcule el precio total de la compra
def total_price(articulos, compra):
	comprado = total_comprado(articulos, compra)
	precio = reduce(lambda total, art: total + comprado[art], comprado, 0)
	return precio

# B. Una función que calcule el precio total de la compra con un descuento del 10%
def ten_percent(articulos, compra):
	return (total_price(articulos, compra) * 0.9)

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def condicional_percent(articulos, compra):
	if (total_price(articulos, compra) > 100):
		return ten_percent(articulos, compra)
	return total_price(articulos, compra)

# D. Una función que calcule el precio total aplicando el IVA (21%)
def	iva(articulos, compra):
	comprado = total_comprado(articulos, compra)
	for item in comprado:
		comprado[item] *= 1.21
	precio = reduce(lambda total, art: total + comprado[art], comprado, 0)
	return precio

# E.lista los artículos cuyo precio es superior a 20€
def price_more_twenty(articulos):
	more_twenty = list(filter(lambda x: articulos[x] > 20, articulos))
	return more_twenty

In [18]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca el nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

#Funcion principal que crea la lista con la informacion pedida
def	nota_media(curso):
	boletin = list(map(media_alumno, filter(lambda x: x[2] == curso, alumnos)))
	return boletin

# Funcion que crea una lista con el nombre, y media de un alumno
def	media_alumno(alumno):
	media = list()
	media.append(alumno[0])
	media.append(alumno[1])
	media.append(reduce(lambda x, y: x + y, alumno[3], 0))
	media[2] /= len(alumno[3])
	return media